<!-- views/partials/header.ejs -->
<nav>
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">oauth</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">


            <!-- <li><a href="/auth/linkedin" class="btn btn-default">LinkedIn</a></li> -->
            <li>
                <a href="auth/github" class="btn btn-default">Github</a>
            </li>
            <!-- <li>
                <a href="/auth/twitter" class="btn btn-default">Twitter</a>
            </li> -->
        </ul>
    </div>
</nav>