<header>
    <div class="header">
        <a href="/" class="logo">userauth</a>
        <div class="header-right">

            <a href="/users/signin">login</a>
            <a href="/users/signup">signup</a>
            <a>

            </a>


        </div>
    </div>
</header>