<!DOCTYPE html>
<html>

<head>
  <title>userAuth</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% include partials/header %>
  <h1>wellcome to dashboard</h1>
</body>

</html>