<!DOCTYPE html>
<html>

<head>
  <title>userAuth</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <% include partials/header %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  
</body>

</html>