<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <div class="container">
        <h1><%= message %></h1>
        <h2 class="center-align"><%= error.status %></h2>

    </div>
    <pre><%= error.stack %></pre>

    <% include ../partials/footer %>
</body>

</html>