<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <div class="container">
        <h3><%= message %></h3>
        <h4 class="center-align"><%= error.status %></h4>

    </div>
    <pre><%= error.stack %></pre>

    <% include ../partials/footer %>
</body>

</html>