<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>

</head>

<body>
  <% include ../partials/header %>
  <div class="container">
    <h1 class="center-align"><%= title %></h1>
    <p class="center-align">Welcome to <%= title %></p>
  </div>

  <% include ../partials/footer %>
</body>

</html>