<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <h1>hello ejs</h1>
    <% include ../partials/footer %>
</body>

</html>