<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/header %>

    <div class="center-align">

        <h1>hello world</h1>
    </div>
    <% include ./partials/footer %>
</body>

</html>