<!-- views/partials/header.ejs -->
<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">cinema</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li><a href="/movies">Movies List</a></li>
                <!-- <li><a href="/movies/new">Add New Movie</a></li> -->
            </ul>
        </div>
    </div>
</nav>