<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">Cinema</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">

            <!-- <a href="/users/new" class="nav-item nav-link">New User</a> -->
            <a href="/movies/new" class="nav-item nav-link">Add New Movie</a>

        </div>

    </div>
</nav>